.characteristics-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  text-align: center;
}

.characteristics-table th,
.characteristics-table td {
  border: 1px solid #ccc; /* Apply borders to all cells */
  padding: 8px;
}

/* Remove outer borders */
.characteristics-table th:first-child,
.characteristics-table td:first-child {
  border-left: none;
}

.characteristics-table th:last-child,
.characteristics-table td:last-child {
  border-right: none;
}

.characteristics-table td {
  border-bottom: none;
}
